<!DOCTYPE html>
<html>	
    <head>
        <meta charset="utf-8" />
        <title>Siebe's prize draw - Web Application</title>
    </head>
    
    <body>
        <div>
            @RenderBody()
        </div>
    </body>
</html>